<div class="container index-card-container">
  <h1 class="mb-3"> Des histoires à écouter</h1>
  <div class="wrapper">
    <% @stories.shuffle.each do |story| %>
    <% if story.photo.present? && story.audios.present? %>
    <div class="audio-card">
      <div class="audio-card__image audio-card__image--background">
        <%= cl_image_tag story.photo.key, crop: :pad %>
      </div>
      <div class="audio-card__unit-name"><%= story.title %></div>
      <div class="audio-card__unit-description"><%= story.summary %></div>
      <% story.audios.each do |audio| %>
      <% audio_url = Cloudinary::Utils.cloudinary_url(audio.key, resource_type: 'video') %>
      <audio controls>
        <source src="<%= audio_url %>" type="<%= audio.content_type %>">
        Votre navigateur ne supporte pas l'élément audio.
      </audio>
    <% end %>
      <div class="audio-card__unit-stats audio-card__unit-stats clearfix">
        <div class="one-third bottom-left">
          <div class="stat"><%= story.genre %></div>
          <div class="stat-value">Genre</div>
        </div>

        <div class="one-third">
          <div class="stat"><%= story.age %></div>
          <div class="stat-value">âge</div>
        </div>

        <div class="one-third no-border">
          <div class="stat"><%= story.rating %>/5</div>
          <div class="stat-value">Note</div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
