<div class="container">

  <h1 class="# mt-4 mb-4" >My profile</h1>


    <div class="cards">
      <div class="card-category " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://st2.depositphotos.com/3074113/5266/i/950/depositphotos_52661383-stock-photo-texture-in-grunge-style.jpg)">
        Mes histoires favorites

        <ol class="list-group list-group-numbered mb-5">
        <% @user.favorites.each do |favorite| %>

          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%= favorite.story.title %></div>
            </div>
            <span class="#"><%= link_to "🗑", favorite_path(favorite, story_id: favorite.story.id), method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </li>
          <% end %>
        </ol>

      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://st2.depositphotos.com/3074113/5266/i/950/depositphotos_52661383-stock-photo-texture-in-grunge-style.jpg)">
        Mes histoires crées

        <ol class="list-group list-group-numbered">
        <% @user.stories.each do |story| %>

          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%= story.title %></div>
            </div>
            <span class="#"><%= link_to "🔄", edit_story_path(story) %><%= link_to "🗑", story_path(story), method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </li>
          <% end %>
        </ol>

      </div>




    <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Mes histoires crées
        <% @user.stories.each do |story| %>
          <%#= story.title %>
          <%#= story.summary %>
          <%#= button_to "edit your story", edit_story_path(story) %>
          <%#= button_to "delete your story", story_path(story), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%# end %>
    <%# </div> %>


    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://st2.depositphotos.com/3074113/5266/i/950/depositphotos_52661383-stock-photo-texture-in-grunge-style.jpg)">
    Créer une histoire
    <%# Créer une histoire %>
    </div>
</div>
    <%= link_to "Back to homepage", root_path %>
</div>
