<div class="container">

  <h1 class="# mt-4 mb-4" style="font-weight: bold;" >My profile</h1>


    <div class="cards">

      <div class="card-category d-flex justify-content-center align-items-center h-50" style="background-color: white;">
      <span><%= image_tag "https://www.clipartmax.com/png/small/72-722180_these-are-some-cats-avatar-i-drew-during-my-free-time-black.png", class: "avatar dropdown-toggle fs-3 w-5", id: "carditoDropdown"%></span>
      <p> Hello <%= current_user.first_name %>! </p>
      </div>


      <div class="card-category " style="background-color: white;">
        <span style="color: orange; font-weight: bold;">Tes histoires favorites</span>

        <ol class="list-group list-group-numbered mb-5">
        <% @user.favorites.each do |favorite| %>

          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%= favorite.story.title %></div>
            </div>
            <span class="#"><%= button_to "🗑", favorite_path(favorite, story_id: favorite.story.id), class: "destroybtn", method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </li>
          <% end %>
        </ol>

      </div>

      <div class="card-category" style="background-color: white;">
        <span style="color: orange; font-weight: bold"> Tes histoires crées</span>

        <ol class="list-group list-group-numbered">
        <% @user.stories.each do |story| %>

          <li class="list-group-item d-flex justify-space-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%= link_to story.title, story_path(story) %></div>
            </div>
            <span class="#"><%= link_to "edit", edit_story_path(story) %><%= button_to " 🗑", story_path(story), class: "destroybtn", method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </li>
          <% end %>
        </ol>

      </div>


      <div class="card-category" style="background-color: white;">
        <span style="color: orange; font-weight: bold">Raconte une nouvelle histoire</span>

      </div>
    <div><%= button_to "Back to homepage", root_path %></div>
</div>
</div>
 <%# width: 100%;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1); %>
