<nav>
  <div class="menu">
      <li class="menu-item">

          <div data-toggle-target="onClick" class="submenu d-none">

            <div id="search-window" class="container">

              <%= form_with url: "/filtres", class: "form-search ", method: :get do |f| %>

                <div class="mt-5 option-block">
                  <button data-action="click->toggle#toggle" class="category-title">
                  <h2><i class="fa-solid fa-arrow-down"></i>  GENRE  <i class="fa-solid fa-arrow-down"></i></h2></button>
                  <br>
                    <div data-toggle-target="toggleCategories" class="d-none form-block d-flex flex-wrap">
                      <%= check_box_tag("Romance", nil, false, class: "option-tag") %>
                      <%= label_tag("Romance", nil, class: "option-label") %>
                      <%= check_box_tag("Fantaisie", nil, false, class: "option-tag") %>
                      <%= label_tag("Fantaisie", nil, class: "option-label") %>
                      <%= check_box_tag("Aventure", nil, false, class: "option-tag") %>
                      <%= label_tag("Aventure", nil, class: "option-label") %>
                      <%= check_box_tag("Amitié", nil, false, class: "option-tag") %>
                      <%= label_tag("Amitié", nil, class: "option-label") %>
                      <%= check_box_tag("Science-Fiction", nil, false, class: "option-tag") %>
                      <%= label_tag("Science-Fiction", nil, class: "option-label") %>
                      <%= check_box_tag("Humour", nil, false, class: "option-tag") %>
                      <%= label_tag("Humour", nil, class: "option-label") %>
                      <%= check_box_tag("Conte", nil, false, class: "option-tag") %>
                      <%= label_tag("Conte", nil, class: "option-label") %>
                      <%= check_box_tag("Légende", nil, false, class: "option-tag") %>
                      <%= label_tag("Légende", nil, class: "option-label") %>
                    </div>
                </div>

                <div data-controller="toggle" class="mt-5 option-block">
                  <button data-action="click->toggle#toggle" class="category-title"><h2><i class="fa-solid fa-arrow-down"></i>  TAGS  <i class="fa-solid fa-arrow-down"></i></h2></button>
                  <br>
                    <div data-toggle-target="toggleCategories" class="d-none form-block d-flex flex-wrap">
                      <%= check_box_tag("Fées", nil, false, class: "option-tag") %>
                      <%= label_tag("Fées", nil, class: "option-label") %>
                      <%= check_box_tag("Chevaliers", nil, false, class: "option-tag") %>
                      <%= label_tag("Chevaliers", nil, class: "option-label") %>
                      <%= check_box_tag("Sorcières", nil, false, class: "option-tag") %>
                      <%= label_tag("Sorcières", nil, class: "option-label") %>
                      <%= check_box_tag("Magie", nil, false, class: "option-tag") %>
                      <%= label_tag("Magie", nil, class: "option-label") %>
                      <%= check_box_tag("Princes et Princesses", nil, false, class: "option-tag") %>
                      <%= label_tag("Princes et Princesses", nil, class: "option-label") %>
                      <%= check_box_tag("Animaux", nil, false, class: "option-tag") %>
                      <%= label_tag("Animaux", nil, class: "option-label") %>
                      <%= check_box_tag("Monstres", nil, false, class: "option-tag") %>
                      <%= label_tag("Monstres", nil, class: "option-label") %>
                      <%= check_box_tag("Rêves", nil, false, class: "option-tag") %>
                      <%= label_tag("Rêves", nil, class: "option-label") %>
                    </div>
                </div>

                <div data-controller="toggle" class="mt-5 option-block">
                  <button data-action="click->toggle#toggle" class="category-title"><h2><i class="fa-solid fa-arrow-down"></i>  TRANCHE D'ÂGE  <i class="fa-solid fa-arrow-down"></i></h2></button>
                  <br>
                    <div data-toggle-target="toggleCategories" class="d-none form-block d-flex flex-wrap">
                        <%= check_box_tag("2 à 5 ans", nil, false, class: "option-tag") %>
                        <%= label_tag("2 à 5 ans", nil, class: "option-label") %>
                        <%= check_box_tag("5 à 8 ans", nil, false, class: "option-tag") %>
                        <%= label_tag("5 à 8 ans", nil, class: "option-label") %>
                        <%= check_box_tag("8 à 10 ans", nil, false, class: "option-tag") %>
                        <%= label_tag("8 à 10 ans", nil, class: "option-label") %>
                        <%= check_box_tag("10 à 12 ans", nil, false, class: "option-tag") %>
                        <%= label_tag("10 à 12 ans", nil, class: "option-label") %>
                        <%= check_box_tag("12 ans et plus", nil, false, class: "option-tag") %>
                        <%= label_tag("12 ans et plus", nil, class: "option-label") %>
                    </div>
                </div>

                <div data-controller="toggle" class="mt-5 option-block">
                  <button data-action="click->toggle#toggle" class="category-title"><h2><i class="fa-solid fa-arrow-down"></i>  DURÉE  <i class="fa-solid fa-arrow-down"></i></h2></button>
                  <br>
                    <div data-toggle-target="toggleCategories" class="d-none form-block d-flex flex-wrap">
                        <%= check_box_tag("5 minutes ou moins", nil, false, class: "option-tag") %>
                        <%= label_tag("5 minutes ou moins", nil, class: "option-label") %>
                        <%= check_box_tag("5 à 10 minutes", nil, false, class: "option-tag") %>
                        <%= label_tag("5 à 10 minutes", nil, class: "option-label") %>
                        <%= check_box_tag("10 à 15 minutes", nil, false, class: "option-tag") %>
                        <%= label_tag("10 à 15 minutes", nil, class: "option-label") %>
                        <%= check_box_tag("15 à 20 minutes", nil, false, class: "option-tag") %>
                        <%= label_tag("15 à 20 minutes", nil, class: "option-label") %>
                        <%= check_box_tag("20 minutes ou plus", nil, false, class: "option-tag") %>
                        <%= label_tag("20 minutes ou plus", nil, class: "option-label") %>
                    </div>
                </div>
                    <br>
                    <div class="submit-search">
                      <%= f.submit "Filtrer", data: { action: "click->toggle#desactivation" }, class: "search-submit" %>
                    </div>
              <% end %>
          </div>
          </div>
      </li>
  </ul>
</nav>

<%# style="overflow-y:scroll; overflow-x:hidden; height:400px;" %>
