<div class="container-fluid">
  <div class="banner-homepage">
    <div class="banner-content">
      <p>Pimprenelle, l'appli magique qui fait voyager ton imagination !</p>
    </div>
  </div>

  <div class="d-grid gap-2 mt-4 text-center">
    <%= link_to "/stories" do %>
      <button id="creation" class="btn btn-primary rounded-5 fs-5 w-100" style="height: 5rem;" type="button">Découvrez nos histoires !</button>
    <% end %>
  </div>

    <p class="titres text-center white mt-2 child">Histoires audios pour 2 ans et +</p>
  <div class="scroll-container">
    <% @stories.shuffle.each do |story| %>
    <% if story.audios.attached? %>
    <div id="box2" class="scroll-item card rounded-4" style="width: 10rem;">
    <% if story.photo.attached? %>
          <%= cl_image_tag story.photo.key, crop: :fill, class:"card-img-top rounded-4", id: "picturesize", style:"height: 8rem;" %>
        <% else %>
          <img id="picturesize" class="card-img-top rounded-4" style="height: 8rem;" src="https://i.pinimg.com/originals/3e/7f/51/3e7f5183864ccbb40d4d68e06dd779b0.jpg">
        <% end %>
        <p class="card-title text-center"><%= link_to story.title, story_path(story) %></p>
    </div>
    <% end %>
    <% end %>
  </div>

  <p class="titres text-center white mt-4 child">Nos plus beaux contes</h6>
  <div class="scroll-container">
    <% @stories.where(genre:"Conte").shuffle.each do |story| %>
    <div id="box1" class="scroll-item card rounded-4" style="width: 10rem;">
    <% if story.photo.attached? %>
          <%= cl_image_tag story.photo.key, crop: :fill, class:"card-img-top rounded-4", id: "picturesize", style:"height: 8rem;" %>
        <% else %>
          <img id="picturesize" class="card-img-top rounded-4" style="height: 8rem;" src="https://i.pinimg.com/originals/3e/7f/51/3e7f5183864ccbb40d4d68e06dd779b0.jpg">
        <% end %>
        <p class="card-title text-center"><%= link_to story.title, story_path(story) %></p>
    </div>
    <% end %>
  </div>


      <p class="titres text-center white mt-4 child">À l'aventure !</h6>
  <div id="box3" class="scroll-container">
    <% @stories.where(genre:"Aventure").shuffle.each do |story| %>
    <div class="scroll-item card rounded-4" style="width: 10rem;">
    <% if story.photo.attached? %>
          <%= cl_image_tag story.photo.key, crop: :fill, class:"card-img-top rounded-4", id: "picturesize", style:"height: 8rem;" %>
        <% else %>
          <img id="picturesize" class="card-img-top rounded-4" style="height: 8rem;" src="https://i.pinimg.com/originals/3e/7f/51/3e7f5183864ccbb40d4d68e06dd779b0.jpg">
        <% end %>
        <p class="card-title text-center"><%= link_to story.title, story_path(story) %></p>
    </div>
    <% end %>
  </div>
  </div>
