
<div class="container">
<h1> 1001 histoires</h1>


      <% @stories.each do |story| %>
        <div class="cards-index", style="background-color: #F0F0F0">
        <%= cl_image_tag story.photo.key, crop: :fill, class:"card-img-top rounded-4", id: "picturesize", style:"height: 12rem;" %>
          <h3 style="color:#FFAA4C; text-align:center"> <strong><%= story.title %></strong> </h3>
          <p class= "summaryp"> <%= story.summary %> </p>

            <% word_count = 0 %>
            <% story.content.each_char do |word| %>
              <% word_count += 1 %>
            <% end %>
              <% word_count/5 %>
            <% if word_count <= 650 %>
              <% story_length = story.length = "5 minutes ou moins" %>
            <% elsif word_count = 651..1300 %>
              <% story_length = story.length = "5 à 10 minutes" %>
            <% elsif word_count = 1301..1950 %>
              <% story_length = story.length = "10 à 15 minutes" %>
            <% elsif word_count = 1951..2600 %>
              <% story_length = story.length = "15 à 20 minutes" %>
            <% elsif word_count >= 2600 %>
              <% story_length = story.length = "20 minutes ou plus" %>
            <% end %>

          <p style="color: #3E497A"> <strong>Durée:</strong> <%= story_length %></p>

          <p style="color: #3E497A"><strong>Tranche d'âge:</strong> <%= story.age %> </p>
        <%= link_to "Lire cette histoire", story_path(story) %>
        </div>
    <% end %>
</div>

    <% @stories.each do |story| %>
        <div class="d-none" data-filtres-target="<%= story.genre %>" data-filtres-target="<%= story.tags %>" data-filtres-target="<%=  story.age %>" data-filtres-target="<%= story.length %>">
          <h3 style="color:#FFAA4C"> <%= story.title %> </h3>
          <p class= "summaryp"> <%= story.summary %> </p>
          <p> Durée: <%= story.length %>, Tranche d'âge: <%= story.age %> Genre: <%= story.genre %></p>
        </div>
    <% end %>
  </div>
</div>
