<div class="container index-card-container">
  <h1 class="mb-3"> Nos histoires à découvrir </h1>
  <div class="wrapper">
    <% @stories.shuffle.each do |story| %>
    <% if story.photo.present? %>
    <div class="audio-card">
      <div class="audio-card__image audio-card__image--background">
        <%= cl_image_tag story.photo.key, crop: :pad %>
      </div>
      <div class="audio-card__unit-name"><%= story.title %></div>
            <% word_count = 0 %>
            <% story.content.each_char do |word| %>
              <% word_count += 1 %>
            <% end %>
              <% word_count/5 %>
            <% if word_count <= 650 %>
              <% story_length = story.length = "5 minutes ou moins" %>
            <% elsif word_count = 651..1300 %>
              <% story_length = story.length = "5 à 10 minutes" %>
            <% elsif word_count = 1301..1950 %>
              <% story_length = story.length = "10 à 15 minutes" %>
            <% elsif word_count = 1951..2600 %>
              <% story_length = story.length = "15 à 20 minutes" %>
            <% elsif word_count >= 2600 %>
              <% story_length = story.length = "20 minutes ou plus" %>
            <% end %>
      <div class="audio-card__unit-length"><%= story.length %></div>
      <div class="audio-card__unit-description"><%= story.summary %></div>
      <%= link_to "Lire l'histoire", story_path(story) %>
      <div class="audio-card__unit-stats audio-card__unit-stats clearfix">
        <div class="one-third bottom-left">
          <div class="stat"><%= story.genre %></div>
          <div class="stat-value">Genre</div>
        </div>

        <div class="one-third">
          <div class="stat"><%= story.age %></div>
          <div class="stat-value">âge</div>
        </div>

        <div class="one-third no-border">
          <div class="stat"><%= story.rating %></div>
          <div class="stat-value">J'aime</div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
