

<h1> Des histoires pour toutes et tous!</h1>

<div data-filtres-target="stories">
      <% @stories.each do |story| %>
        <div >
          <h3 style="color:orange"> <%= story.title %> </h3>
          <p> <%= story.summary %> </p>
          <p> Durée: <%= story.length %>, Tranche d'âge: <%= story.age %> </p>
        <%= link_to "Read this story", story_path(story) %>
        </div>
    <% end %>
</div>


<% @stories.each do |story| %>
      <h3 style="color:orange"> <%= story.title %> </h3>
      <p> <%= story.summary %> </p>
      <p> Durée: <%= story.length %>, Tranche d'âge: <%= story.age %> Genre: <%= story.genre %></p>
    </div>
<% end %>
