<style>
  #tttt {
    background-color: white;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>
<div class="container">
  <div class="row mb-3">
    <div class="card text-center">
      <div class="card-body" data-controller="show-content" data-show-content-id-value="<%=@story.id%>">
        <h5 class="card-title"><%= @story.title %></h5>
        <p class="card-text">Age: <%= @story.age %></p>
        <p class="card-text">Rating: <%= @story.rating %></p>

            <% @word_count = 0 %>
            <% @story.content.each_char do |word| %>
              <% @word_count += 1 %>
            <% end %>
              <% @word_count/5 %>
            <% if @word_count <= 650 %>
              <% @story_length = @story.length = "5 minutes ou moins" %>
            <% elsif @word_count = 651..1300 %>
              <% @story_length = @story.length = "5 à 10 minutes" %>
            <% elsif @word_count = 1301..1950 %>
              <% @story_length = @story.length = "10 à 15 minutes" %>
            <% elsif @word_count = 1951..2600 %>
              <% @story_length = @story.length = "15 à 20 minutes" %>
            <% elsif @word_count >= 2600 %>
              <% @story_length = @story.length = "20 minutes ou plus" %>
            <% end %>

        <p class="card-text"> Durée: <%= @story_length %></p>



      <div data-controller="text-vide" id="story-content">
        <p class="card-text" id="storySpot" data-show-content-target="summary"><%= @story.summary %></p>

         <p class="card-text d-none" style="text-align: justify;" id="storySpot" data-show-content-target="content" data-show-content-target="content" data-text-vide-target="text"><%= @story.content.gsub('.', '.<br><br>').html_safe %></p>

        <%= link_to "Voir toute l'histoire",
            story_read_stories_path(@story),
            method: :post,
            remote: true,
            class: "btn btn-primary",
            id: "viewStory",
            data: { show_content_target: "button", action: "click->show-content#show" } %>

            <button id="myBtn">Test</button>
            <!-- The Modal -->
            <div id="myModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <p><%= @story.content %></p>
              </div>
            </div>
            <script>
              var modal = document.getElementById("myModal");

              // Get the button that opens the modal
              var btn = document.getElementById("myBtn");

              // Get the <span> element that closes the modal
              var span = document.getElementsByClassName("close")[0];

              // When the user clicks on the button, open the modal
              btn.onclick = function() {
                modal.style.display = "block";
              }

              // When the user clicks on <span> (x), close the modal
              span.onclick = function() {
                modal.style.display = "none";
              }

              // When the user clicks anywhere outside of the modal, close it
              window.onclick = function(event) {
                if (event.target == modal) {
                  modal.style.display = "none";
                }
              }
            </script>

            <button class="btn btn-primary" data-action="click->text-vide#bionique" data-text-vide-target="btnBio"><strong>Lect</strong>ure <strong>Bion</strong>ique</button>
            <button data-text-vide-target="btnReset" data-action="click->text-vide#reset" class="btn btn-primary d-none">Lecture Non-Bionique</button>
      </div>
      </div>

    </div>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col-12 mb-2">
      <div class="card p-3 w-auto">
        <h5 class="mb-2 text-center">Donne ton avis 😊</h5>
        <div class="d-flex justify-content-evenly" data-controller="edit-rating">
            <%= form_with url: increment_story_path(@story), data: {edit_rating_target: "upbtn", action: "submit->edit-rating#increment"}, method: :post do |f| %>
              <%= f.submit "UP", class:"btn btn-primary" %>
            <% end %>
            <%= form_with url: decrease_story_path(@story), data: {edit_rating_target: "dwnbtn", action: "submit->edit-rating#decrease"}, method: :post do |f| %>
              <%= f.submit "DWN", class:"btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 mt-2 d-flex justify-content-center">
      <div id="tttt" class="border rounded p-2" style="width: 20rem;">
        <h5><strong>Audio:</strong></h5>
        <% if @story.audio.attached? %>
          <% @story.audio.each do |sound| %>
            <% audio_url = Cloudinary::Utils.cloudinary_url(sound.key, resource_type: 'video') %>
            <audio controls>
                <source src="<%= audio_url %>" type="<%= sound.content_type %>">
                Votre navigateur ne supporte pas l'élément audio.
            </audio>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= button_to "Retour", stories_path, method: :get, class:"mt-2 ms-2 mb-3 btn btn-primary" %>

  <% favorite = Favorite.find_by(story: @story, user: current_user) %>
    <% if favorite == nil %>
      <%= form_with(url: favorites_path, method: :post, local: true) do |form| %>
        <%= form.hidden_field :story_id, value: @story.id, name: 'favorite[story_id]'%>
        <%= form.submit "add to favorite", class: "btn btn-success btn-sm", id: "favorite-button"%>
      <% end %>
    <% else %>
      <p class="alert alert-info text-center" style="position: relative; margin-top: 30px; width: 10%;">you like this story!</p>
    <% end %>
  <%= button_to "Back to my profile", profile_path, method: :get, class:"mt-3 mb-5 btn btn-secondary" %>
</div>
