<style>
  #tttt {
    background-color: white;
  }
</style>

<div class="card text-center">
  <div class="card-body" data-controller="show-content">
    <h5 class="card-title"><%= @story.title %></h5>
    <p class="card-text">Age: <%= @story.age %></p>
    <p class="card-text">Rating: <%= @story.rating %></p>
    <p class="card-text">Length: <%= @story.length %> mins</p>
    <p class="card-text" id="storySpot" data-show-content-target="summary"><%= @story.summary %></p>
    <p class="card-text d-none" id="storySpot" data-show-content-target="content"><%= @story.content %></p>
    <a href="#" class="btn btn-primary" id="viewStory" data-show-content-target="button" data-action="click->show-content#show">Voir toute l'histoire</a>
  </div>
</div>

<div class="d-flex justify-content-evenly mt-3 mb-3">
  <div class="card p-3 w-auto">
    <h5 class="mb-2 text-center">Donne ton avis 😊</h5>
    <div class="d-flex justify-content-evenly" data-controller="edit-rating">
        <%= form_with url: increment_story_path(@story), data: {edit_rating_target: "upbtn", action: "submit->edit-rating#increment"}, method: :post do |f| %>
          <%= f.submit "UP", class:"btn btn-primary" %>
        <% end %>
        <%= form_with url: decrease_story_path(@story), data: {edit_rating_target: "dwnbtn", action: "submit->edit-rating#decrease"}, method: :post do |f| %>
          <%= f.submit "DWN", class:"btn btn-primary" %>
        <% end %>
    </div>
  </div>

  <div id="tttt" class="border rounded p-2" style="width: 20rem;">
    <h5><strong>Audio:</strong></h5>
    <% if @story.audio.attached? %>
        <% audio_url = Cloudinary::Utils.cloudinary_url(@story.audio.key, resource_type: 'video') %>
        <audio controls>
            <source src="<%= audio_url %>" type="<%= @story.audio.content_type %>">
            Votre navigateur ne supporte pas l'élément audio.
        </audio>
    <% end %>
  </div>
</div>

<%= button_to "Retour", stories_path, method: :get, class:"mt-2 ms-2 mb-2 btn btn-primary" %>

<% favorite = Favorite.find_by(story: @story, user: current_user) %>
  <% if favorite == nil %>
    <%= form_with(url: favorites_path, method: :post, local: true) do |form| %>
      <%= form.hidden_field :story_id, value: @story.id, name: 'favorite[story_id]'%>
      <%= form.submit "add to favorite", class: "btn btn-success btn-sm", id: "favorite-button"%>
    <% end %>
  <% else %>
    <p class="alert alert-info text-center" style="position: relative; margin-top: 30px; width: 10%;">you like this story!</p>
  <% end %>
<%= link_to "Back to my profile", profile_path %>

