<h1>Stories#show</h1>
<p>Find me in app/views/stories/show.html.erb</p>


<%= @story.title %> <br><br>
<%= @story.content %>
<%= form_with(url: favorites_path, method: :post, local: true) do |form| %>
<%= form.hidden_field :story_id, value: @story.id, name: 'favorite[story_id]'%>
<%= form.submit "add to favorite", class: "btn btn-success btn-sm"%>
<% end %>
<%= link_to "Back to my profile", profile_path %>
